<style>body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato", sans-serif;
}

body,
html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}

header,
html {
    height: 100%;
    color: white;
    line-height: 1.8;
}


/* Create a Parallax Effect */

.bgimg-1,
.bgimg-2,
.bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1 {
    background-color: #497e97;
    min-height: 100%;
}

.bgimg-2 {
    background-color: #497e97;
    min-height: 20%;
}

.bgimg-3 {
    background-color: #497e97;
    min-height: 20%;
}

.button {
    background-color: white;
    color: #497e97;
    border: 2px solid #497e97;
    transition-duration: 0.4s;
    border-radius: 5pt;
    font-size: 20px;
}

.button:hover {
    background-color: #497e97;
    color: white;
}

.w3-wide {
    letter-spacing: 10px;
}

.w3-hover-opacity {
    cursor: pointer;
}


/* Turn off parallax scrolling for tablets and phones */

@media only screen and (max-device-width: 1600px) {
    .bgimg-1,
    .bgimg-2,
    .bgimg-3 {
        background-attachment: scroll;
        min-height: 400px;
    }
}

.center {
    text-align: center;
}

</style>